<div class="grid grid-cols-2">
    <div>
        <h3 class="text-3xl font-bold text-white/70">Alonso David De Le칩n Rodarte</h3>
        <p class="text-pretty text-white/50">Soy un desarrollador web y Analista de datos con 3 a침os de experiencia
        en el mundo IT. en estos ultimos a침os me eh concentrado en aprender sobre el analisis de datos para apoyar a las empresas con sus desciciones
        tanto en su operaci칩n como en su calidad.
    </p>
    </div>
    <div></div>
</div>