---

---

<div class="grid grid-cols-2 items-center p-4">
    <div>
        <p class="text-pretty text-white/50 pb-4">
            Soy un desarrollador web y analista de datos con 3 años de
            experiencia en el mundo IT. Mi especialidad son las bases de datos
            SQL, donde he trabajado en la optimización de consultas y la gestión
            de grandes volúmenes de datos. Además, tengo habilidades en el
            desarrollo de aplicaciones web utilizando tecnologías como HTML,
            CSS, JavaScript y frameworks como Astro.
        </p>
        <p class="text-pretty text-white/50 pb-4">
            He colaborado en proyectos que van desde la creación de dashboards
            interactivos hasta la implementación de soluciones de análisis de
            datos, lo que me ha permitido adquirir una comprensión profunda de
            las necesidades del negocio y traducirlas en soluciones técnicas
            efectivas.
        </p>
        <p class="text-pretty text-white/50 pb-4">
            Estoy siempre en busca de nuevos desafíos y oportunidades para
            seguir aprendiendo y creciendo profesionalmente. Si estás buscando a
            alguien que pueda aportar valor a tu equipo y contribuir al éxito de
            tus proyectos, no dudes en contactarme. ¡Estoy listo para llevar tus
            ideas al siguiente nivel!
        </p>
    </div>
</div>
