<footer class="footer bg-base-200/60 flex flex-col items-center gap-4 p-6">
    <div class="flex items-center gap-2 text-xl font-bold">
        <span>DataDave</span>
    </div>
    <aside>
        <p>©2024 David De León | Casi todos los derechos reservados.</p>
    </aside>
    <div class="flex h-5 gap-4">
        <a
            href="https://github.com/DataDave-Dev"
            class="link"
            aria-label="Github Link"
        >
            <span class="icon-[tabler--brand-github] size-5 hover:bg-white transition"></span>
        </a>

        <a href="https://x.com/DataDave_Dev" class="link" aria-label="X Link">
            <span class="icon-[tabler--brand-x] size-5 hover:bg-white transition"></span>
        </a>
    </div>
</footer>
