<footer class="footer bg-base-200/60 flex flex-col items-center gap-4 p-6">
    <div class="flex items-center gap-2 text-xl font-bold">
        <span>DaviDev</span>
    </div>
    <aside>
        <p>©2024 David De León | Casi todos los derechos reservados.</p>
    </aside>
    <div class="flex h-5 gap-4">
        <a href="https://github.com/Davidsupport" class="link" aria-label="Github Link">
            <span class="icon-[tabler--brand-github] size-5"></span>
        </a>
        </a>
        <a href="https://x.com/DaviDev2004" class="link" aria-label="X Link">
            <span class="icon-[tabler--brand-x] size-5"></span>
        </a>
    </div>
</footer>
