---
import { Image } from "astro:assets";
import ImageLogo from "/public/Luci.jpg"
---

<header
    class="flex justify-between items-center
     p-6 pb-1 xl:w-5/6 mx-auto rounded-3xl backdrop-blur-3xl fixed top-0 left-0 right-0 z-50"
>
    <div class="flex items-center relative me-4">
        <Image
            class="rounded-full size-16 mb-6 backdrop-blur-xl shadow-xl shadow-black"
            src={ImageLogo}
            alt="Foto"
            loading="eager"
        />
        <span
            class="animate-ping top-0 start-12 absolute w-3.5 h-3.5 bg-green-500 rounded-full"
        ></span>
        <span
        class="top-0 start-12 absolute w-3.5 h-3.5 bg-green-500 rounded-full"
    ></span>
        <div class="text-sm">
            <p class="pl-3">David De León</p>
            <p class="pl-3 text-white/50">Ing. Administrador de Sistemas</p>
            <p class="pl-3 text-white/50">rodartealonso29@gmail.com</p>
        </div>
    </div>
    <nav class="flex flex-row gap-x-10 opacity-90">
        <a href="/">Inicio</a>
        <a href="#Experience">Experencia</a>
        <a href="#Proyects">Proyectos</a>
        <a href="/">Sobre mi</a>
        <a href="/">Contacto</a>
    </nav>
</header>
