---
import TimeLineItem from "./TimeLineItem.astro";

const Experience = [
    {
        title: "Analista de Datos",
        company: "Pinturas Industriales y Automotrices Garcia",
        dates: "2024 Octubre - Ahora",
        description:
            "Encargado del análisis de grandes volúmenes de datos para identificar patrones, tendencias y oportunidades de mejora en los procesos operativos.",
    },
    {
        title: "Soporte Tecnico",
        company: "Pinturas Industriales y Automotrices Garcia",
        dates: "2024 Enero - 2024 Octubre",
        description:
            "Soporte técnico a usuarios de manera presencial y remota, resolviendo problemas relacionados con software ERP. Implementación de soluciones para mejorar la eficiencia operativa, la capacitación a usuarios y el mantenimiento preventivo de equipos y sistemas.",
    },
    {
        title: "Practicante de Sistemas",
        company: "Pinturas Industriales y Automotrices Garcia",
        dates: "2022 Abril - 2024 Enero",
        description: "Proporcioné soporte técnico a usuarios, resolviendo problemas relacionados con equipos de cómputo y redes Wi-Fi. Realicé diagnósticos y soluciones a fallos de hardware y software, asegurando un funcionamiento óptimo de los sistemas. Colaboré en la implementación de mejoras en la infraestructura de red y en la capacitación de usuarios para optimizar el uso de herramientas tecnológicas."
    },
];
---

<ol class="relative border-s border-red-200 dark:border-red-700">
    {
        Experience.map((experience) => (
            <li class="mb-10 ms-4">
                <TimeLineItem {...experience} />
            </li>
        ))
    }
</ol>
